@import '../styles';

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 3px 5px #aaaaaa;

  // Spacing
  padding: 10px 0px;

  flex: 0 1 4vh;
}

.link {
  // Font
  color: black;
  text-decoration: none;
  font-size: 12px;

  // Spacing
  margin: 0px 15px;

  &:hover {
    color: $primary;
    transition: 0.25s;
  }
}
