@import '../styles';

.router {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.switch {
  background-color: $white;
  // margin-top: 5px;
  // height: 93vh;
  // background-size: cover;
  // display: flex;
  // height: 100%;
  // height: calc(100% - (4vh + 5px));
  // display: flex;
  flex: 1 1 auto;
}
