@import '../styles';

.card {
  @include flexCenter();
  flex-basis: 30%;

  background-color: #d72828;
  background-color: #27bc27;
  background-color: #ffffff;

  box-shadow: 1px 1px 5px #aaaaaa;
  border-radius: 10px;

  margin: 10px;
}
