@import '../styles';

#application-form {
  height: 5000px;
  padding: 30px;

  * {
    margin-bottom: 10px;
  }

  input {
    margin-left: 5px;
  }

  #submit {
    margin-top: 3px;
    margin-left: 0px;

    background-color: $primary;
    color: $white;

    border: none;
    border-radius: 5px;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }
  }

  #checkbox input:checked ~ .checkmark {
    background-color: red;
  }
}
